## 키움 로그인

In [4]:
%load_ext autoreload
%autoreload 2

In [1]:
from pykiwoom.kiwoom import *
kiwoom = Kiwoom()

kiwoom.CommConnect(block=True)
print("블록킹 로그인 완료")

블록킹 로그인 완료

In [19]:
a.code

'460930'

### 분봉요청 TR

In [2]:
df = kiwoom.block_request(
                "opt10080",
                종목코드='278470',
                수정주가구분=1,
                output=None,
                next=0,
                틱범위=1
            )
df

{'trcode': 'opt10080', 'input': [{'주식분봉차트조회요청': ['종목코드', '틱범위', '수정주가구분']}], 'output': [{'주식분차트': ['종목코드']}, {'주식분봉차트조회': ['현재가', '거래량', '체결시간', '시가', '고가', '저가', '수정주가구분', '수정비율', '대업종구분', '소업종구분', '종목정보', '수정주가이벤트', '전일종가']}]}

,현재가,거래량,체결시간,시가,고가,저가,수정주가구분,수정비율,대업종구분,소업종구분,종목정보,수정주가이벤트,전일종가
0,-54300,7704,20250224153000,-54300,-54300,-54300,,,,,,,
1,-54300,469,20250224151900,-54400,-54400,-54300,,,,,,,
2,-54400,383,20250224151800,-54400,-54400,-54300,,,,,,,
3,-54300,425,20250224151700,-54400,-54400,-54300,,,,,,,
4,-54400,435,20250224151600,-54400,-54400,-54300,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,-54200,127,20250220130900,-54200,-54300,-54100,,,,,,,
896,-54200,255,20250220130800,-54200,-54200,-54100,,,,,,,
897,-54200,156,20250220130700,-54300,-54300,-54100,,,,,,,
898,-54300,234,20250220130600,-54100,-54300,-53900,,,,,,,
899,-54000,1631,20250220130500,-54300,-54300,-54000,,,,,,,

In [115]:
from process import *
a = GetData('현대힘스',kiwoom)
df = a.minute_candlestick()
df

{'trcode': 'opt10080', 'input': [{'주식분봉차트조회요청': ['종목코드', '틱범위', '수정주가구분']}], 'output': [{'주식분차트': ['종목코드']}, {'주식분봉차트조회': ['현재가', '거래량', '체결시간', '시가', '고가', '저가', '수정주가구분', '수정비율', '대업종구분', '소업종구분', '종목정보', '수정주가이벤트', '전일종가']}]}

,현재가,거래량,체결시간,시가,고가,저가,수정주가구분,수정비율,대업종구분,소업종구분,종목정보,수정주가이벤트,전일종가
0,-17980,4286,20250224153000,-17980,-17980,-17980,,,,,,,
1,-17950,2981,20250224151900,-17960,-17980,-17950,,,,,,,
2,-17960,1536,20250224151800,-17960,-17960,-17950,,,,,,,
3,-17960,3204,20250224151700,-17960,-17980,-17950,,,,,,,
4,-17960,514,20250224151600,-17960,-17970,-17960,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,-18620,1276,20250220124900,-18620,-18620,-18610,,,,,,,
896,-18620,365,20250220124800,-18620,-18620,-18620,,,,,,,
897,-18620,2668,20250220124700,-18640,-18640,-18620,,,,,,,
898,-18630,1315,20250220124600,-18640,-18640,-18630,,,,,,,
899,-18640,666,20250220124500,-18640,-18650,-18640,,,,,,,

In [116]:
import numpy as np
# 빈 문자열을 NaN으로 변환한 후, 모든 값이 NaN인 열 삭제
df = df.replace("", np.nan).dropna(axis=1, how="all")
df

        현재가   거래량            체결시간      시가      고가      저가
0    -17980  4286  20250224153000  -17980  -17980  -17980
1    -17950  2981  20250224151900  -17960  -17980  -17950
2    -17960  1536  20250224151800  -17960  -17960  -17950
3    -17960  3204  20250224151700  -17960  -17980  -17950
4    -17960   514  20250224151600  -17960  -17970  -17960
..      ...   ...             ...     ...     ...     ...
895  -18620  1276  20250220124900  -18620  -18620  -18610
896  -18620   365  20250220124800  -18620  -18620  -18620
897  -18620  2668  20250220124700  -18640  -18640  -18620
898  -18630  1315  20250220124600  -18640  -18640  -18630
899  -18640   666  20250220124500  -18640  -18650  -18640

[900 rows x 6 columns]

In [117]:
df.dtypes

현재가     object
거래량     object
체결시간    object
시가      object
고가      object
저가      object
dtype: object

In [118]:
# 1. 체결시간을 datetime으로 변환
df['체결시간'] = pd.to_datetime(df['체결시간'], format='%Y%m%d%H%M%S')

In [119]:
df.dtypes

현재가             object
거래량             object
체결시간    datetime64[ns]
시가              object
고가              object
저가              object
dtype: object

In [120]:
# datetime 열을 인덱스로 설정
df.set_index("체결시간", inplace=True)

In [121]:
df

                        현재가   거래량      시가      고가      저가
체결시간
2025-02-24 15:30:00  -17980  4286  -17980  -17980  -17980
2025-02-24 15:19:00  -17950  2981  -17960  -17980  -17950
2025-02-24 15:18:00  -17960  1536  -17960  -17960  -17950
2025-02-24 15:17:00  -17960  3204  -17960  -17980  -17950
2025-02-24 15:16:00  -17960   514  -17960  -17970  -17960
...                     ...   ...     ...     ...     ...
2025-02-20 12:49:00  -18620  1276  -18620  -18620  -18610
2025-02-20 12:48:00  -18620   365  -18620  -18620  -18620
2025-02-20 12:47:00  -18620  2668  -18640  -18640  -18620
2025-02-20 12:46:00  -18630  1315  -18640  -18640  -18630
2025-02-20 12:45:00  -18640   666  -18640  -18650  -18640

[900 rows x 5 columns]

In [122]:
# 모든 열을 정수형으로 변환
df = df.astype(int)

In [123]:
df

                       현재가   거래량     시가     고가     저가
체결시간
2025-02-24 15:30:00 -17980  4286 -17980 -17980 -17980
2025-02-24 15:19:00 -17950  2981 -17960 -17980 -17950
2025-02-24 15:18:00 -17960  1536 -17960 -17960 -17950
2025-02-24 15:17:00 -17960  3204 -17960 -17980 -17950
2025-02-24 15:16:00 -17960   514 -17960 -17970 -17960
...                    ...   ...    ...    ...    ...
2025-02-20 12:49:00 -18620  1276 -18620 -18620 -18610
2025-02-20 12:48:00 -18620   365 -18620 -18620 -18620
2025-02-20 12:47:00 -18620  2668 -18640 -18640 -18620
2025-02-20 12:46:00 -18630  1315 -18640 -18640 -18630
2025-02-20 12:45:00 -18640   666 -18640 -18650 -18640

[900 rows x 5 columns]

In [124]:
df.dtypes

현재가    int32
거래량    int32
시가     int32
고가     int32
저가     int32
dtype: object

In [125]:
# 모든 열에 절댓값 적용
df = df.abs()
df

                       현재가   거래량     시가     고가     저가
체결시간
2025-02-24 15:30:00  17980  4286  17980  17980  17980
2025-02-24 15:19:00  17950  2981  17960  17980  17950
2025-02-24 15:18:00  17960  1536  17960  17960  17950
2025-02-24 15:17:00  17960  3204  17960  17980  17950
2025-02-24 15:16:00  17960   514  17960  17970  17960
...                    ...   ...    ...    ...    ...
2025-02-20 12:49:00  18620  1276  18620  18620  18610
2025-02-20 12:48:00  18620   365  18620  18620  18620
2025-02-20 12:47:00  18620  2668  18640  18640  18620
2025-02-20 12:46:00  18630  1315  18640  18640  18630
2025-02-20 12:45:00  18640   666  18640  18650  18640

[900 rows x 5 columns]

In [128]:
# 거래대금(TradingValue) 열 추가: Volume * ((Open+High+Low+Close)/4) / 100000000을 소수점 3번째 자리에서 반올림
df['거래대금'] = ((df['거래량'] * ((df['시가'] + df['고가'] + df['저가'] + df['현재가']) / 4)) / 100000000.0).round(3)

# 두 번째 열(인덱스 1)에 '종목명' 열을 추가하고, 모든 행의 값을 stock_name으로 설정
df.insert(1, '종목명', '현대힘스')

In [129]:
df

                       현재가   종목명   거래량     시가     고가     저가   거래대금
체결시간
2025-02-24 15:30:00  17980  현대힘스  4286  17980  17980  17980  0.771
2025-02-24 15:19:00  17950  현대힘스  2981  17960  17980  17950  0.535
2025-02-24 15:18:00  17960  현대힘스  1536  17960  17960  17950  0.276
2025-02-24 15:17:00  17960  현대힘스  3204  17960  17980  17950  0.576
2025-02-24 15:16:00  17960  현대힘스   514  17960  17970  17960  0.092
...                    ...   ...   ...    ...    ...    ...    ...
2025-02-20 12:49:00  18620  현대힘스  1276  18620  18620  18610  0.238
2025-02-20 12:48:00  18620  현대힘스   365  18620  18620  18620  0.068
2025-02-20 12:47:00  18620  현대힘스  2668  18640  18640  18620  0.497
2025-02-20 12:46:00  18630  현대힘스  1315  18640  18640  18630  0.245
2025-02-20 12:45:00  18640  현대힘스   666  18640  18650  18640  0.124

[900 rows x 7 columns]

In [207]:
from process import *
a = GetData('삼성전자',kiwoom)
df = a.fetch_minute_candlestick()
df = a.process_minute_candlestick(df)
a.save_data(df,'minute_candlestick')
df

{'trcode': 'opt10080', 'input': [{'주식분봉차트조회요청': ['종목코드', '틱범위', '수정주가구분']}], 'output': [{'주식분차트': ['종목코드']}, {'주식분봉차트조회': ['현재가', '거래량', '체결시간', '시가', '고가', '저가', '수정주가구분', '수정비율', '대업종구분', '소업종구분', '종목정보', '수정주가이벤트', '전일종가']}]}
DB에 저장되었습니다다

                      종목명    현재가     거래량     시가     고가     저가     거래대금
체결시간
2025-02-24 15:30:00  삼성전자  57300  924550  57300  57300  57300  529.767
2025-02-24 15:19:00  삼성전자  57400   46098  57400  57400  57300   26.449
2025-02-24 15:18:00  삼성전자  57400   17489  57400  57400  57300   10.034
2025-02-24 15:17:00  삼성전자  57400   21240  57300  57400  57300   12.181
2025-02-24 15:16:00  삼성전자  57400  103302  57300  57400  57300   59.244
...                   ...    ...     ...    ...    ...    ...      ...
2025-02-20 13:09:00  삼성전자  58500  105617  58500  58500  58400   61.760
2025-02-20 13:08:00  삼성전자  58500    9747  58400  58500  58400    5.697
2025-02-20 13:07:00  삼성전자  58500   34091  58400  58500  58400   19.926
2025-02-20 13:06:00  삼성전자  58500   12437  58500  58500  58400    7.273
2025-02-20 13:05:00  삼성전자  58500    7101  58500  58500  58400    4.152

[900 rows x 7 columns]

In [206]:
df.dtypes

종목명      object
현재가       int32
거래량       int32
시가        int32
고가        int32
저가        int32
거래대금    float64
dtype: object

In [209]:
from process import *
df = minute_save('삼성SDI')

NameError: name 'kiwoom' is not defined

### 일봉요청 TR

In [3]:
df = kiwoom.block_request(
                "opt10081",
                종목코드='051910',
                기준일자=None,
                수정주가구분=1,
                output=None,
                next=0
            )
df

{'trcode': 'opt10081', 'input': [{'주식일봉차트조회요청': ['종목코드', '기준일자', '수정주가구분']}], 'output': [{'주식일봉차트': ['종목코드']}, {'주식일봉차트조회': ['종목코드', '현재가', '거래량', '거래대금', '일자', '시가', '고가', '저가', '수정주가구분', '수정비율', '대업종구분', '소업종구분', '종목정보', '수정주가이벤트', '전일종가']}]}

,종목코드,현재가,거래량,거래대금,일자,시가,고가,저가,수정주가구분,수정비율,대업종구분,소업종구분,종목정보,수정주가이벤트,전일종가
0,051910,255500,245505,62577,20250224,249000,258000,247500,,,,,,,
1,,251000,289285,72466,20250221,246500,254000,244500,,,,,,,
2,,246500,296350,73185,20250220,245000,250000,244000,,,,,,,
3,,245500,342081,84315,20250219,238000,249500,238000,,,,,,,
4,,239000,192906,46068,20250218,238000,240500,236500,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,,635000,269644,172857,20220916,650000,655000,632000,,,,,,,
596,,658000,178835,117881,20220915,664000,667000,654000,,,,,,,
597,,663000,241828,158781,20220914,647000,666000,643000,,,,,,,
598,,665000,255024,168256,20220913,656000,667000,649000,,,,,,,
599,,644000,261855,167545,20220908,635000,649000,628000,,,,,,,

In [214]:
from process import *
get_data = create_instance('삼성전자', kiwoom_lab=kiwoom)
df = get_data.fetch_daily_candlestick()

block_request: 타임아웃 발생 - 응답을 받지 못했습니다.

In [147]:
# 빈 문자열을 NaN으로 변환한 후, 하나라도 NaN이 있는 열 삭제
df = df.replace("", np.nan).dropna(axis=1, how="any")

df

              현재가       거래량    거래대금     시가     고가     저가
일자
2025-02-24  17980    315816    5674  17820  18280  17610
2025-02-21  18050    457672    8297  18450  18460  17780
2025-02-20  18450    597507   11170  19360  19360  18450
2025-02-19  19320   1060972   20499  19390  19800  18930
2025-02-18  19430    790763   15384  19900  20000  19170
...           ...       ...     ...    ...    ...    ...
2024-02-01  16200  13384970  219309  16310  18000  13890
2024-01-31  16710   4672954   83440  18770  19000  16600
2024-01-30  17710  17225580  334079  17450  22100  17380
2024-01-29  20450  10892576  236524  25000  25050  20450
2024-01-26  29200   4900303  141918  28950  29200  27000

[260 rows x 6 columns]

In [202]:
from process import *
a = GetData('SK하이닉스',kiwoom)
df = a.fetch_daily_candlestick()
df = a.process_daily_candlestick(df)
df

{'trcode': 'opt10081', 'input': [{'주식일봉차트조회요청': ['종목코드', '기준일자', '수정주가구분']}], 'output': [{'주식일봉차트': ['종목코드']}, {'주식일봉차트조회': ['종목코드', '현재가', '거래량', '거래대금', '일자', '시가', '고가', '저가', '수정주가구분', '수정비율', '대업종구분', '소업종구분', '종목정보', '수정주가이벤트', '전일종가']}]}

               종목명     현재가      거래량     거래대금      시가      고가      저가
일자
2025-02-24  SK하이닉스  205000  3087127   625258  202500  205000  201000
2025-02-21  SK하이닉스  209500  2601151   542258  209500  211000  205500
2025-02-20  SK하이닉스  212000  3080242   661409  217000  218500  211000
2025-02-19  SK하이닉스  218500  3537720   770154  216000  219500  214000
2025-02-18  SK하이닉스  210000  1937894   406272  212000  215000  207000
...            ...     ...      ...      ...     ...     ...     ...
2024-02-19  SK하이닉스  151300  3997323   603119  146200  153200  146000
2024-02-16  SK하이닉스  146800  3265836   481599  150600  150600  145700
2024-02-15  SK하이닉스  148700  3560211   533512  151300  152700  148000
2024-02-14  SK하이닉스  148700  4396924   647227  146300  149200  144900
2024-02-13  SK하이닉스  150000  6902585  1024935  146800  150000  145000

[250 rows x 7 columns]

In [204]:
from process import *
a = GetData('삼성SDI',kiwoom)
df = a.fetch_daily_candlestick()
df = a.process_daily_candlestick(df)
a.save_data(df,'daily_candlestick')

{'trcode': 'opt10081', 'input': [{'주식일봉차트조회요청': ['종목코드', '기준일자', '수정주가구분']}], 'output': [{'주식일봉차트': ['종목코드']}, {'주식일봉차트조회': ['종목코드', '현재가', '거래량', '거래대금', '일자', '시가', '고가', '저가', '수정주가구분', '수정비율', '대업종구분', '소업종구분', '종목정보', '수정주가이벤트', '전일종가']}]}
DB에 저장되었습니다다

In [195]:
df

             종목명    현재가       거래량     거래대금     시가     고가     저가
일자
2025-02-24  삼성전자  57300  14138471   811217  57300  57700  57200
2025-02-21  삼성전자  58200  22198428  1281507  58400  58500  57100
2025-02-20  삼성전자  58400  21589059  1264910  59100  59100  58100
2025-02-19  삼성전자  58700  25395151  1481742  57400  58900  57300
2025-02-18  삼성전자  56900  22131007  1254588  56200  57200  55900
...          ...    ...       ...      ...    ...    ...    ...
2022-09-16  삼성전자  56200  13456503   752456  55600  56400  55500
2022-09-15  삼성전자  56000  11664819   657642  57000  57100  56000
2022-09-14  삼성전자  56800  12524961   709906  56200  57200  56100
2022-09-13  삼성전자  58100  17166581   991016  57000  58500  56800
2022-09-08  삼성전자  55600  18000016  1006366  56200  56400  55600

[600 rows x 7 columns]

In [184]:
df_test= df.head(1)
df_test

              종목명    현재가      거래량   거래대금     시가     고가     저가
일자
2025-02-24  포스코DX  25850  3108522  81868  26350  26900  25750

In [185]:
a.save_data(df_test, 'daily_candlestick')

DataFrame이 MySQL에 저장되었습니다.

In [188]:
df.dtypes

종목명     object
현재가      int32
거래량      int32
거래대금     int32
시가       int32
고가       int32
저가       int32
dtype: object

In [164]:
print(df.index.dtype)

datetime64[ns]

In [ ]:
df = a.save_data(df,'daily_candlestick')

In [7]:
from process import *
daily_save('위너스',kiwoom_lab=kiwoom)

{'trcode': 'opt10081', 'input': [{'주식일봉차트조회요청': ['종목코드', '기준일자', '수정주가구분']}], 'output': [{'주식일봉차트': ['종목코드']}, {'주식일봉차트조회': ['종목코드', '현재가', '거래량', '거래대금', '일자', '시가', '고가', '저가', '수정주가구분', '수정비율', '대업종구분', '소업종구분', '종목정보', '수정주가이벤트', '전일종가']}]}

            종목명    현재가       거래량    거래대금     시가     고가     저가
일자
2025-02-24  위너스  34000  28851701  841399  23450  34000  22800

#### pandas모든행 출력

In [199]:
# 최대 행 수 제한 해제
pd.set_option('display.max_rows', None)

# 데이터프레임 출력
print(df)

       종목코드     현재가      거래량    거래대금        일자      시가      고가      저가 수정주가구분  \
0    051910  255500   245505   62577  20250224  249000  258000  247500
1            251000   289285   72466  20250221  246500  254000  244500
2            246500   296350   73185  20250220  245000  250000  244000
3            245500   342081   84315  20250219  238000  249500  238000
4            239000   192906   46068  20250218  238000  240500  236500
5            237500   342695   81556  20250217  227500  241500  227500
6            227500   201032   46114  20250214  231000  232000  226500
7            229500   486366  111035  20250213  220500  231000  220500
8            220000   209801   46400  20250212  222500  225500  218500
9            221500   205949   45868  20250211  222000  226000  218000
10           221000   437549   94374  20250210  214000  222000  208000
11           217000   322872   70493  20250207  220000  224500  216000
12           222000   224642   49295  20250206  219500  222000  217000
13           221500   499007  110518  20250205  213500  224500  213500
14           213000   670959  144537  20250204  222500  223000  211500
15           222000   339676   76271  20250203  234500  234500  221500
16           237500   257381   61174  20250131  242000  242000  236000
17           239500   205167   48938  20250124  241000  242500  237000
18           240500   174612   42052  20250123  244500  244500  239500
19           246000   203935   50102  20250122  242000  249000  241500
20           240500   260411   63139  20250121  250500  252500  238000
21           252500   246145   61734  20250120  247000  253500  246500
22           243500   183472   44686  20250117  242000  247000  240000
23           244000   187927   46055  20250116  244000  248000  243000
24           240000   182124   44044  20250115  245000  247500  239500
25           244500   272203   66041  20250114  243000  246000  238500
26           241000   209303   50480  20250113  242500  245000  239000
27           245000   203151   50019  20250110  249000  250500  245000
28           249000   333340   83236  20250109  256500  256500  247000
29           256500   264700   68032  20250108  253000  260000  252000
30           255500   191554   49562  20250107  260500  264000  255000
31           256500   186799   47838  20250106  254000  259500  251000
32           253500   363270   92208  20250103  239500  259000  239000
33           242500   207721   50476  20250102  250000  252000  240000
34           250000   198781   50137  20241230  245000  255000  244500
35           247000   229662   56455  20241227  244000  250000  242000      4
36           248000   194741   48527  20241226  254000  254500  246500
37           253000   115503   29441  20241224  256500  258500  252500
38           256000   226183   57257  20241223  256000  257500  248000
39           257500   280470   72020  20241220  260000  261500  254000
40           258000   225833   57830  20241219  252500  260500  250500
41           260000   325939   84771  20241218  257000  262500  255500
42           257000   335413   86384  20241217  264500  266000  254500
43           268000   171458   46002  20241216  270000  273000  265500
44           268500   245172   65643  20241213  262500  273500  259000
45           267500   423597  112715  20241212  265000  270000  261000
46           262500   262560   69256  20241211  267500  269500  259500
47           268000   436988  115226  20241210  250500  270000  250500
48           246500   604144  150999  20241209  257000  259000  246000
49           266500   293620   77998  20241206  264500  270000  259000
50           265000   356114   95714  20241205  276000  277500  263000
51           276000   410398  112121  20241204  271500  279500  268500
52           282500   251104   71048  20241203  286500  289000  279500
53           282500   207368   58768  20241202  287500  289000  279000
54           284000   348760  100304  20241129  302500  303500  283500
55           305000   135494   41318  20241128  301000  308000  300000
56           301000   164520   49950  20241127  306500  310000  299500
57           307000   187822   57748  20241126  303500  311000  303000
58           306500   388539  119444  20241125  301000  311500  299500
59           298000   240849   72093  20241122  298500  303000  297000
60           294500   215661   63351  20241121  290000  297000  288000
61           291500   239227   69310  20241120  286000  294000  282500
62           288500   259699   74432  20241119  287000  290500  284000
63           289500   236484   67783  20241118  275000  292500  275000
64           278000   438875  120849  20241115  280500  282000  267500
65           287500   432524  123001  20241114  288500  291500  278000
66           289000   316441   92456  20241113  300000  302500  287000
67           305500   248157   75662  20241112  301500  310500  301000
68           304000   286872   87885  20241111  309500  313500  301000
69           303000   234355   72053  20241108  302000  312500  302000
70           304000   365149  109252  20241107  300000  305000  294000
71           305500   485201  149057  20241106  323500  324000  299000
72           322000   206892   66648  20241105  320500  325500  319500
73           323500   254453   81838  20241104  320000  325500  313500
74           318000   221329   70650  20241101  312000  323500  310500
75           313500   250613   79203  20241031  317000  320000  313500
76           320500   299121   95941  20241030  314000  325000  313000
77           318500   726670  230774  20241029  332000  332500  312000
78           339000   351780  118763  20241028  323000  342500  322500
79           322500   199007   64701  20241025  334000  336000  321000
80           328000   258256   85069  20241024  328000  336500  324500
81           324500   216204   69465  20241023  317500  328500  314000
82           318000   245722   78514  20241022  328000  329000  317000
83           330500   142420   47314  20241021  329000  336000  327500
84           328500   246908   80878  20241018  331500  334000  324000
85           331500   230137   77082  20241017  338500  341000  331500
86           339000   244835   83380  20241016  346000  346000  337000
87           342000   367113  125446  20241015  351000  353000  337000
88           350500   283883   98446  20241014  350000  351000  342500
89           354500   268871   95996  20241011  357500  364000  350000
90           356500   355580  127933  20241010  364500  365000  356500
91           361000   341075  123570  20241008  358000  368000  354500
92           359000   312315  112111  20241007  352000  363000  349500
93           348500   262280   91835  20241004  354000  356500  346000
94           353500   334645  119800  20241002  358000  366000  353500
95           356500   398091  143663  20240930  364000  368500  356500
96           357500   477097  172227  20240927  360000  368500  353500
97           358000   310692  110210  20240926  352500  359000  349000
98           348500   554936  196472  20240925  349500  359500  345000
99           346000   619371  209901  20240924  321000  347000  321000
100          319000   212728   67608  20240923  319000  320500  313500
101          316500   338962  108363  20240920  323500  326000  316500
102          319500   254625   81216  20240919  327500  331500  312500
103          321500   166966   53538  20240913  323000  326000  315500
104          320500   267862   86052  20240912  325000  325000  318500
105          315500   258088   80974  20240911  307000  318500  307000
106          306500   241348   74368  20240910  309500  316000  303000
107          309500   261256   80136  20240909  304500  310000  301500
108          311500   274201   85942  20240906  321500  323500  308500
109          321500   243178   78813  20240905  327000  330500  318000
110          324000   288314   93214  20240904  322500  327500  319000
111          333000   300066  101380  20240903  344500  346500  331500
112          340000   628791  213446  20240902  328000  347500  326500
113          321500   300871   97097  20240830  326000  329500  320000
114          320500   365891  117720  20240829  312000  327500  309500
115          313500   263763   83544  20240828  319000  325000  313000
116          319000   266835   85996  20240827  320500  329000  316000
117          317000   306821   98099  20240826  315500  325000  315000
118          315000   278249   87847  20240823  316000  319000  312000
119          316000   477216  149168  20240822  300500  317500  299500
120          298000   315259   94711  20240821  292000  306000  292000
121          291500   186647   53859  20240820  292000  293500  283500
122          289500   134205   39126  20240819  293500  298500  287500
123          292500   178695   52899  20240816  301000  302000  292500
124          296000   135332   39985  20240814  293500  297500  293000
125          288500   149417   43119  20240813  289000  292000  283500
126          290000   116247   33712  20240812  286000  293000  286000
127          286000   266416   75864  20240809  280000  289000  278500
128          276500   513713  142859  20240808  284000  288500  276500
129          290000   234689   68172  20240807  282500  295500  282000
130          289500   522030  150402  20240806  281000  295500  277500
131          272500   739306  209174  20240805  302500  304500  263500
132          308500   184521   57006  20240802  308000  314000  305500
133          314000   234675   73475  20240801  305500  318500  305500
134          305500   166216   50783  20240731  306000  310000  303000
135          305000   213468   65349  20240730  304500  312000  303000
136          308000   177920   54584  20240729  307500  310000  301000
137          307000   269526   82675  20240726  312500  312500  302000
138          313000   358228  110405  20240725  305500  318000  299500
139          310000   310446   96806  20240724  309000  318500  309000
140          312500   365796  115179  20240723  323000  324500  311500
141          320000   276341   89076  20240722  332500  333000  319000
142          333500   303750  100240  20240719  332500  333500  326000
143          333500   201812   67687  20240718  335000  339500  332000
144          335500   382543  128846  20240717  341500  344000  334000
145          341500   471069  163056  20240716  358000  359000  341000
146          359000   272945   98351  20240715  368000  368500  357000
147          367500   211244   77441  20240712  362500  371000  362000
148          366500   479591  175193  20240711  358000  371000  354500
149          356000   225609   80415  20240710  361000  361500  354000
150          362500   200811   72580  20240709  362500  364500  359500
151          360500   167941   60828  20240708  361000  367500  358000
152          361000   156023   56367  20240705  364500  365000  358000
153          362000   178230   64357  20240704  364500  366000  357500
154          360000   352143  127789  20240703  358000  369500  357000
155          353000   196964   69758  20240702  354000  358500  351500
156          355500   245435   86456  20240701  345500  357500  341000
157          345500   221160   75589  20240628  344000  347000  336500
158          344000   241552   83595  20240627  350000  353500  342500
159          352000   180895   63501  20240626  350500  354500  348000
160          351000   201226   71288  20240625  359500  360000  351000
161          356000   163598   58158  20240624  355000  359000  353000
162          355500   250301   89559  20240621  361000  364500  355500
163          361500   269674   97734  20240620  359500  366000  358000
164          359500   306960  109419  20240619  353000  362000  350500
165          351500   208142   73616  20240618  358000  359000  351000
166          355000   322322  114291  20240617  357000  358000  353000
167          361000   448269  161338  20240614  365000  367000  356000
168          367000   393893  145597  20240613  377500  377500  367000
169          371500   234425   87073  20240612  371500  376000  368000
170          375000   298873  111903  20240611  371000  379500  366000
171          370500   270879  100904  20240610  377500  377500  370000
172          382000   247532   94399  20240607  384500  388000  377000
173          374500   395879  148617  20240605  362000  381000  361000
174          361000   184831   66587  20240604  352500  366500  351500
175          357500   275342   99074  20240603  355000  365500  354000
176          351500   502915  178503  20240531  353000  361500  351500
177          350500   634361  225641  20240530  365000  368000  350000
178          370500   581535  217324  20240529  386000  386500  367000
179          391000   211698   83170  20240528  396500  399500  388500
180          396500   289057  113201  20240527  395000  399500  385000
181          394000   317431  125351  20240524  386500  403500  383500
182          394000   343337  135600  20240523  381000  406500  380000
183          383000   153439   58927  20240522  388000  388000  382000
184          384500   284865  109082  20240521  387000  388000  379000
185          391500   321170  126277  20240520  398000  399500  390500
186          398000   204095   81421  20240517  400000  404000  397000
187          404000   293066  118911  20240516  408500  411000  403000
188          402500   293777  118283  20240514  393000  407000  392500
189          391000   277871  108242  20240513  396000  396000  386500
190          397000   116254   46467  20240510  401000  404500  395500
191          396500   231065   92005  20240509  401500  403500  396500
192          402000   150249   60262  20240508  401500  403500  397000
193          402000   252320  101052  20240507  406000  407500  396000
194          403500   146460   59188  20240503  406000  408000  399500
195          405000   276804  111791  20240502  406000  412000  397500
196          402500   525542  212034  20240430  397500  412000  390500
197          395500   607744  239220  20240429  377500  400500  377000
198          373500   224588   83328  20240426  373500  376000  368500
199          373000   258272   96592  20240425  377000  380000  371500
200          381500   293307  112357  20240424  382500  389500  379000
201          372000   244370   90696  20240423  374000  376500  368500
202          378000   301294  113745  20240422  376000  381000  372500
203          370500   348850  128602  20240419  374500  374500  366000
204          378500   264859  100376  20240418  377500  382500  376500
205          375500   301786  115173  20240417  385000  391000  375500
206          382000   304367  116495  20240416  388000  390000  380000
207          394500   242936   96075  20240415  389500  400500  387000
208          393000   260610  103052  20240412  391500  402500  387000
209          387000   490848  190856  20240411  387000  394500  386500
210          395000   255430  100766  20240409  397000  398500  391000
211          394000   464147  181375  20240408  395500  399000  384000
212          400000   340599  135878  20240405  397000  404500  395000
213          402500   274989  110902  20240404  406500  408500  399000
214          403000   479871  194455  20240403  416000  418500  400500
215          424000   250523  106037  20240402  426500  429500  420500
216          430500   239956  103687  20240401  440000  442000  429000
217          439000   158560   69554  20240329  440500  442500  436000
218          440000   210043   92561  20240328  443000  447000  437000
219          444000   236697  105404  20240327  445500  453000  441000
220          449000   303727  137948  20240326  458500  466000  449000
221          460500   275423  125909  20240325  450500  465500  450500
222          449500   263558  118322  20240322  439000  453500  436000
223          439000   214431   94759  20240321  442000  446000  438000
224          438500   165255   72513  20240320  440500  444000  435500
225          436500   229435   99755  20240319  440500  440500  431000
226          440000   237874  104155  20240318  434000  443000  431500
227          431000   310713  134314  20240315  437000  438000  430000
228          440000   410324  181675  20240314  450000  454000  438500
229          450000   382300  175218  20240313  452000  471000  449000
230          450500   364050  163873  20240312  441000  454500  441000
231          436000   181317   79214  20240311  440000  441000  435000
232          443000   288423  129165  20240308  448000  456500  440500
233          443000   311412  137254  20240307  443000  446000  434000
234          441500   290385  129166  20240306  448000  456500  441000
235          452500   242147  109496  20240305  454500  457000  445000
236          462000   290424  134948  20240304  452500  471500  452500
237          453000   448418  204301  20240229  459500  465000  453000
238          464500   186537   87119  20240228  469000  472500  463500
239          466000   359912  170972  20240227  488500  494000  465000
240          472500   376704  176372  20240226  470500  475000  459000
241          472000   512499  242561  20240223  478500  482000  467000
242          481000   451942  220416  20240222  495000  502000  481000
243          500000   293801  146036  20240221  503000  504000  491000
244          506000   295676  148541  20240220  507000  513000  491500
245          508000   358152  183686  20240219  508000  520000  504000
246          504000   587439  296431  20240216  489000  515000  488000
247          483500   423918  203731  20240215  468000  488500  468000
248          461000   323305  147647  20240214  460500  463500  449000
249          471000   379733  179072  20240213  473000  475000  469500
250          470500   768536  367357  20240208  489000  489000  470500
251          463500   363161  171015  20240207  464500  474500  456000
252          462500   311282  143928  20240206  454000  470000  453000
253          467000   487996  228525  20240205  465500  477500  456500
254          461000   679677  309922  20240202  451000  468500  433000
255          430000   312842  133028  20240201  426500  433000  417000
256          434500   245248  107022  20240131  425500  441500  423500
257          426500   287657  124813  20240130  425500  445000  425500
258          425000   245972  105016  20240129  421500  430500  419500
259          416500   312594  130930  20240126  402500  424000  401500
260          404500   197843   79243  20240125  398500  407500  393000
261          400500   288449  115697  20240124  390000  409500  389000
262          391000   285986  111408  20240123  383500  393500  383500
263          387000   474355  185887  20240122  404000  408000  384500
264          404500   287727  116802  20240119  415500  417000  400500
265          412000   308307  126869  20240118  403500  416000  403000
266          408500   627074  259793  20240117  427500  431000  408000
267          432000   241396  104762  20240116  433500  438000  430500
268          438500   264758  116208  20240115  445000  447500  435000
269          449000   357185  160842  20240112  461000  462000  445000
270          459500   243938  112712  20240111  458500  466000  458500
271          464500   146052   67964  20240110  472000  473500  463000
272          471500   146249   69644  20240109  486000  486500  471500
273          479000   122976   59342  20240108  490500  490500  478000
274          482500   131560   63826  20240105  482000  491500  479000
275          481000   147635   71073  20240104  476000  486000  475000
276          480500   168770   81626  20240103  490500  490500  480500
277          493500   160698   79027  20240102  494000  496000  488000
278          499000   199695   98317  20231228  488000  499000  483500
279          486000   202496   98654  20231227  490500  493000  483000      4

In [200]:
pd.reset_option('display.max_rows')

In [148]:
# 모든 열을 정수형으로 변환
df = df.astype(int)
# 모든 열에 절댓값 적용
df = df.abs()

In [174]:
df

            종목명    현재가      거래량   거래대금     시가     고가     저가
일자
2025-02-24  네오셈  12050  1581554  18926  11700  12430  11570
2025-02-21  네오셈  12020  2211660  26963  12750  12760  11950
2025-02-20  네오셈  12990  5132092  66404  12840  13350  12560
2025-02-19  네오셈  12710  3821706  49095  12960  13370  12400
2025-02-18  네오셈  12860  2856731  36341  12650  12930  12520
...         ...    ...      ...    ...    ...    ...    ...
2022-09-16  네오셈   3495    95491    336   3510   3580   3485
2022-09-15  네오셈   3560    79917    283   3555   3610   3500
2022-09-14  네오셈   3550    68417    241   3405   3585   3405
2022-09-13  네오셈   3545    65908    233   3510   3570   3470
2022-09-08  네오셈   3510   102459    359   3520   3555   3430

[600 rows x 7 columns]

In [178]:
print(df.index.dtype)

datetime64[ns]