In [1]:
import pandas as pd
import mplfinance as mpf
import matplotlib.pyplot as plt
import time

from TickerDict import tickers

import DayChart

from pykiwoom.kiwoom import *
kiwoom = Kiwoom()

kiwoom.CommConnect(block=True)
print("블록킹 로그인 완료")

블록킹 로그인 완료

In [2]:
sss = DayChart.StockDataProcessor(kiwoom)

df = sss.get_stock_data('현대힘스','20250123')

df = sss.preprocess_data(df)

{'trcode': 'opt10086', 'input': [{'일별주가요청': ['종목코드', '조회일자', '표시구분']}], 'output': [{'일별주가': ['날짜', '시가', '고가', '저가', '종가', '전일비', '등락률', '거래량', '금액(백만)', '신용비', '개인', '기관', '외인수량', '외국계', '프로그램', '외인비', '외인보유', '외인비중', '외인순매수', '기관순매수', '개인순매수', '신용잔고율']}]}
{'trcode': 'opt10086', 'input': [{'일별주가요청': ['종목코드', '조회일자', '표시구분']}], 'output': [{'일별주가': ['날짜', '시가', '고가', '저가', '종가', '전일비', '등락률', '거래량', '금액(백만)', '신용비', '개인', '기관', '외인수량', '외국계', '프로그램', '외인비', '외인보유', '외인비중', '외인순매수', '기관순매수', '개인순매수', '신용잔고율']}]}

In [3]:
import pymysql

# 데이터베이스 연결 설정
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='219423',
    db='trading',
    charset='utf8mb4')

In [4]:
cur = conn.cursor()

In [5]:
create_table = """
CREATE TABLE IF NOT EXISTS stock_data (
    datetime DATE,
    Open INT,
    High INT,
    Low INT,
    Close INT,
    Changes INT,
    ChangeRate FLOAT,
    Volume INT,
    TradingValue FLOAT,
    Program INT,
    ForeignNetBuy INT,
    InstitutionNetBuy INT,
    IndividualNetBuy INT,
    10DMA FLOAT,
    20DMA FLOAT
);
"""
cur.execute(create_table)

0

In [6]:
# SQL Insert Query
insert_query = """
INSERT INTO stock_data (
    datetime, Open, High, Low, Close, Changes, ChangeRate, Volume, TradingValue, Program,
    ForeignNetBuy, InstitutionNetBuy, IndividualNetBuy
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""

# Iterate over DataFrame rows and insert them into the table
for index, row in df.iterrows():
    cur.execute(insert_query, (
        index,  # datetime is the index in your DataFrame
        row["Open"],
        row["High"],
        row["Low"],
        row["Close"],
        row["Changes"],
        row["ChangeRate"],
        row["Volume"],
        row["TradingValue"],
        row["Program"],
        row["ForeignNetBuy"],
        row["InstitutionNetBuy"],
        row["IndividualNetBuy"]
    ))
    
# Commit the transaction
conn.commit()

In [28]:
df.iterrows()

In [12]:
row["Open"]

15040.0

In [15]:
row["High"]

15500.0

In [16]:
df.head()

,Open,High,Low,Close,Changes,ChangeRate,Volume,TradingValue,Program,ForeignNetBuy,InstitutionNetBuy,IndividualNetBuy
datetime,,,,,,,,,,,,
2024-11-27,15040,15500,14330,14440,-750,-4.94,678688,101.88,-524,-34227,-31,548
2024-11-28,14310,15890,14140,14630,190,1.32,2332620,356.37,343,19242,1,-271
2024-11-29,14630,14840,14220,14310,-320,-2.19,343664,49.47,-376,-25924,-1,311
2024-12-02,14370,14640,13260,13330,-980,-6.85,499515,68.63,61,-1931,2,8
2024-12-03,13210,13810,13200,13710,380,2.85,309442,41.92,749,55426,0,-782

In [17]:
import pandas as pd

# Create a sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)

In [18]:
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [19]:
# Iterate over rows using iterrows()
for index, row in df.iterrows():
    print(f"Index: {index}, Name: {row['Name']}, Age: {row['Age']}, City: {row['City']}")

Index: 0, Name: Alice, Age: 25, City: New York
Index: 1, Name: Bob, Age: 30, City: Los Angeles
Index: 2, Name: Charlie, Age: 35, City: Chicago

In [31]:
data = [(0, "apple"), (1, "banana"), (2, "cherry")]
# 튜플 언패킹을 활용한 for문
for fruit in data:
    print(1)

1
1
1