In [ ]:
import pandas as pd
import mplfinance as mpf
import matplotlib.pyplot as plt
import time

from TickerDict import tickers

import DayChart

from pykiwoom.kiwoom import *
kiwoom = Kiwoom()

kiwoom.CommConnect(block=True)
print("블록킹 로그인 완료")

In [ ]:
sss = DayChart.StockDataProcessor(kiwoom)

df = sss.get_stock_data('현대힘스','20250123')

df = sss.preprocess_data(df)

In [2]:
import pymysql

# 데이터베이스 연결 설정
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='219423',
    db='trading',
    charset='utf8mb4')

In [3]:
cur = conn.cursor()

In [17]:
create_table = """
CREATE TABLE IF NOT EXISTS stock_data (
    datetime DATE PRIMARY KEY,
    Open INT,
    High INT,
    Low INT,
    Close INT,
    Changes INT,
    ChangeRate FLOAT,
    Volume INT,
    TradingValue FLOAT,
    Program INT,
    ForeignNetBuy INT,
    InstitutionNetBuy INT,
    IndividualNetBuy INT,
    10DMA FLOAT,
    20DMA FLOAT
);
"""
cur.execute(create_table)

0

In [ ]:
# SQL Insert query
insert_query = """
INSERT INTO stock_data (datetime, Open, High, Low, Close, Changes, ChangeRate, Volume,
                        TradingValue, Program, ForeignNetBuy, InstitutionNetBuy, IndividualNetBuy, `10DMA`, `20DMA`)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""

# Iterate over DataFrame rows and insert them into the table
for index, row in df.iterrows():
    cursor.execute(insert_query, (
        row["datetime"],
        row["Open"],
        row["High"],
        row["Low"],
        row["Close"],
        row["Changes"],
        row["ChangeRate"],
        row["Volume"],
        row["TradingValue"],
        row["Program"],
        row["ForeignNetBuy"],
        row["InstitutionNetBuy"],
        row["IndividualNetBuy"],
        row["10DMA"],
        row["20DMA"]
    ))